body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.language1:hover {
  border-bottom: 3px solid #e03b8b;
}
.language2:hover {
  border-bottom: 3px solid #f1bf00;
}
/* Login Page */
#MapGestionButtons #bar {
  display: flex;
  /* height: 100px; */
}
#MapGestionButtons #legend {
  display: flex;
}
#bar #legend {
  display: "flex";
  position: "absolute";
  right: "30px";
}
#bar #zoom-percentage {
  margin-right: 1em;
  font-family: Black Ops One, cursive;
  position: relative;
  bottom: 7px;
}
#signin_password_container {
  margin-top: 1.5em;
}
#signup_email_container {
  margin-top: 1em;
}
#signup_password_container {
  margin-top: 2em;
}
@media only screen and (max-width: 1200px) {
  #signin_password_container {
    margin-top: 3em;
  }

  #email,
  #signin_password,
  #signup_firstname,
  #signup_email,
  #signup_password {
    height: 50px;
    font-size: 2.5em;
  }
  #email-label,
  #signin_password-label,
  #signup_firstname-label,
  #signup_email-label,
  #signup_password-label {
    font-size: 2em;
  }
  td,
  th {
    font-size: 1.65em !important;
  }
  #PageTableauDeBord span {
    font-size: 1.6em;
    width: fit-content;
  }
  #PageMaps span,
  #PageTableauDeBordMaps span,
  #PageAide span {
    font-size: 1.85em;
  }
  #MapGestionButtons img {
    width: 40px !important;
  }
  #MapGestionButtons span {
    /* font-size: 1.85em; */
  }
  #MapGestionButtons #bar {
    display: block;
    height: 100px;
  }
  #bar #legend {
    display: "flex";
    position: "unset";
    right: "unset";
    margin-left: 17px;
  }
  #bar #zoom-percentage {
    bottom: 15px;
  }
  /*
  #MapGestionButtons #legend p {
    display: inline-block;
  } */
}
